body {
  background: #000;
}

.galaxy {
  margin: 1em;
}

.space-simulation {
  font-face: "Arial";
  font-size: 0.7em;
  color: #999;
}

.space-viewport {
  display: inline-block;
}
.control-panel {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.space-simulation form ul {
  list-style-type: none;
  padding-left: 0
}

.space-simulation form input {
  background: #000;
  font-size: 1em;
  color: #999;
  width: 4em;
  border-width: 1px;
}
.space-simulation label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.7em;
}
.space-simulation form input[type="checkbox"] {
  vertical-align: middle;
  width: auto;
  margin-left: 0;
  /* margin-bottom: 0
     margin-top: 0.2em; */
}
.space-simulation form button {
  background: #000;
  font-size: 1em;
  color: #999;
  border-width: 1px;
}
